<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FileSync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <log4net>
     <root>
      <level value="ALL"/>
     <appender-ref ref="EventLog"/>
    </root>
      <appender name="EventLog" type="log4net.Appender.FileAppender">
      <file value="FileSync_Events.log"/>
      <appendToFile value="true"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline"/>
      </layout>
    </appender>
  </log4net>
  <applicationSettings>
    <FileSync.Properties.Settings>
      <setting name="pathRootMaster" serializeAs="String">
        <value>F:\temp\SYNC_TEST\MASTER\</value>
      </setting>
      <setting name="pathSlaves" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>F:\temp\SYNC_TEST\SLAVE1</string>
            <string>F:\temp\SYNC_TEST\SLAVE2</string>
          </ArrayOfString>
        </value>
      </setting>
    </FileSync.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
